.venv*
__pycache__*
/#*
.#*
.mypy_cache
*.egg-info
tmp/
IGNORE-ME*
.pyre/*
.draft

# local env files
.env*

# local certs
local_dev/config/cert.pem
local_dev/config/key.pem

# generated config directory
config/

# installed traefik binary
/traefik
